# App Configuration
APP_URL=https://ais-dev-lgp6fugbafbufrayw2r4n4-24812837185.us-west1.run.app

# WooCommerce API
VITE_WOO_URL=https://shopifybrasil.com.br/
VITE_WOO_CK=ck_408f106abd650aff5c87fd369c3904c510dd0ec5
VITE_WOO_CS=cs_82a9e6b58684c5475fdb6c1664e4adcf38b5b628

# Gemini API
GEMINI_API_KEY=
